<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WarEg</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/app.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg border-bottom bg-white border-opacity-50 p-1 nav-atas">
    <div class="container">
      <img src="../public/images/logo-navbarr.png" alt="logo-navbar" class="img-fluid rounded shadow-ig mt-2" style="width: 200px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Carousel Start-->
  <div id="home">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="background-size: cover; margin-top: 10px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../public/images/Outlet makanan-1.png" class="d-block w-100" alt="Outlet makanan-1">
        </div>
        <div class="carousel-item">
          <img src="../public/images/Outlet makanan-2.png" class="d-block w-100" alt="Outlet makanan-2">
        </div>
        <div class="carousel-item">
          <img src="../public/images/Outlet makanan-3.jpg" class="d-block w-100" alt="Outlet makanan-3">
        </div>
        <div class="wrapper" style="top:265px; left:410px;">
          <div class="text1" style="position:absolute; width:0px; left:20px">
            <img src="../public/images/LOGOO.png" alt="LOGOO" style="size: 10px; width:480px;">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--Carousel End-->


  <!--Reservasi start-->
  <section id="reservasi">
    <div class="container" style="margin-top: 50px;">
      <center>
        <img src="../public/images/RESERVASI.png" alt="reservasi" class="img-fluid rounded shadow-ig mt-3" style="width:200px; margin-top: 10px;">
        <p style="width: 800px; margin-top: 20px; color: darkgray;">Kami menyediakan layanan reservasi untuk kenyamanan anda. Jangan ragu untuk menghubungi kami! WarEg siap membantu anda mendapatkan kenyamanan pengalaman makan yang terbaik.</p>
      </center>
      <div class="card-container-1" style="margin-top: 50px;">
          <div class="left">
              <div class="left-container">
                <center>
                <img src="../public/images/logo-navbarr.png" alt="logo-box" class="img-fluid rounded shadow-ig" style="width: 300px;">
                </center>
                  <h2 style="margin-top: 5px;">Reservasi WarEg</h2>
                  <p>Nikmati hidangan lezat dan suasana yang menyenangkan dengan orang-orang terkasih anda</p>
                  <br>
                  <p>Jangan lewatkan pengalaman makan yang tak terlupakan bersama kami! Terima kasih.</p>
              </div>
          </div>
          <div class="right">
              <div class="right-container">
                <h2>Booking Meja</h2>
                  <form>
                    <div style="margin-bottom:7px;">
                      <input type="text" placeholder="Nama">
                    </div>
                    <div style="margin-bottom:7px;">
                      <input type="email" placeholder="email">
                    </div>
                    <div style="margin-bottom:7px;">
                      <input type="text" placeholder="Jumlah Orang" autocomplete="off">
                    </div>
                    <div style="margin-bottom:7px;">
                      <input type="phone" placeholder="Meja Nomor" autocomplete="off">
                    </div>
                    <div style="margin-bottom:7px;">
                      <textarea rows="10" placeholder="Pesanan"></textarea>
                    </div>  
                      <button>Kirim</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  </section>
  <!--Reservasi End-->


  <section id="hero">
    <div class="container">
      <div class="border-bottom border-bottom-dark mb-5 pb-5" style="margin-top: 80px;">

      <hr>
        <!--Menu Start-->
        <div class="row" id="menu">
          <center>
            <img src="../public/images/MENU.png" alt="menu" class="img-fluid rounded shadow-ig mt-3" style="width:200px; margin-top: 10px;">
            <p style="width: 800px; margin-top: 20px; color: darkgray;">Kami menyajikan hidangan yang segar dan berkualitas tinggi untuk memenuhi selera Anda. Silakan cek menu kami sekarang dan jangan ragu untuk memesan hidangan favorit Anda! Terima kasih.</p>
          </center>
          <div class="container-fluid">
            <h1 class="text" id="makanan" style="margin-top: 30px;" >Makanan</h1>
            <div class="row mt-3">
              <div class="owl-carousel owl-theme">
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Telur Dadar(1).png" alt="telur dadar" class="card-image-top">
                    <div class="card-body">
                      <h4>Telur Dadar</h4>
                      <h5 style="color: darkgrey;">Rp4000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Ayam Goreng(1).png" alt="ayam goreng" class="card-image-top">
                    <div class="card-body">
                      <h4>Ayam Goreng</h4>
                      <h5 style="color: darkgrey;">Rp8000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Tempe Orek(1).png" alt="tempe orek" class="card-image-top">
                    <div class="card-body">
                      <h4>Tempe Orek</h4>
                      <h5 style="color: darkgrey;">Rp3000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Kentang Balado(1).png" alt="kentang balado" class="card-image-top">
                    <div class="card-body">
                      <h4>Kentang Balado</h4>
                      <h5 style="color: darkgrey;">Rp4000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Tumis Usus(1).png" alt="tumis usus" class="card-image-top">
                    <div class="card-body">
                      <h4>Tumis Usus</h4>
                      <h5 style="color: darkgrey;">Rp3000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Sayur Sop(1).png" alt="sayur sop" class="card-image-top">
                    <div class="card-body">
                      <h4>Sayur Sop</h4>
                      <h5 style="color: darkgrey;">Rp5000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Telur Balado(1).png" alt="telur balado" class="card-image-top">
                    <div class="card-body">
                      <h4>Telur Balado</h4>
                      <h5 style="color: darkgrey;">Rp5000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Ikan Goreng(1).png" alt="ikan goreng" class="card-image-top">
                    <div class="card-body">
                      <h4>Ikan Goreng</h4>
                      <h5 style="color: darkgrey;">Rp8000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Perkedel(1).png" alt="perkedel" class="card-image-top">
                    <div class="card-body">
                      <h4>Perkedel</h4>
                      <h5 style="color: darkgrey;">Rp3000</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid">
            <h1 class="text" id="makanan" style="margin-top: 30px;">Minuman</h1>
            <div class="row mt-3">
              <div class="owl-carousel owl-theme">
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Es teh(1).png" alt="telur dadar" class="card-image-top">
                    <div class="card-body">
                      <h4>Es Teh</h4>
                      <h5 style="color: darkgrey;">Rp5000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Kopi hitam(1).png" alt="ayam goreng" class="card-image-top">
                    <div class="card-body">
                      <h4>Kopi Hitam</h4>
                      <h5 style="color: darkgrey;">Rp5000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Kopi susu(1).png" alt="tempe orek" class="card-image-top">
                    <div class="card-body">
                      <h4>Kopi Susu</h4>
                      <h5 style="color: darkgrey;">Rp4000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Nutrisari(2).jpg" alt="kentang balado" class="card-image-top">
                    <div class="card-body">
                      <h4>Nutrisari all variant</h4>
                      <h5 style="color: darkgrey;">Rp5000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Teh Botol(1).png" alt="sayur sop" class="card-image-top">
                    <div class="card-body">
                      <h4>Teh Botol</h4>
                      <h5 style="color: darkgrey;">Rp6000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Vit(1).png" alt="telur balado" class="card-image-top">
                    <div class="card-body">
                      <h4>Vit</h4>
                      <h5 style="color: darkgrey;">Rp4000</h5>
                    </div>
                  </div>
                </div>
                <div class="item mb-4">
                  <div class="card border-0 shadow">
                    <img src="../public/images/Susu hangat(1).png" alt="ikan goreng" class="card-image-top">
                    <div class="card-body">
                      <h4>Susu Hangat</h4>
                      <h5 style="color: darkgrey;">Rp5000</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--Menu End-->

        <!--About Us Start-->
        <hr/>
        <div class="container-team" id="aboutus">
          <center>
            <img src="../public/images/ABOUT US.png" alt="about us" class="img-fluid rounded shadow-ig mt-3" style="width:250px; margin-top: 10px;">
          </center>
          <div class="container">            
            <div class="row" style="margin-top: 70px;">
              <div class="col-lg-6">
                <div class="header-history">
                  <h2 class="history-text display-4 fw-bold mt-1">History WarEg</h2>
                </div>
                <p class="lead text-muted" style="text-align: justify;">WarEg merupakan warteg dengan konsep restauran yang mengutamakan harga yang terjangkau dan kualitas setara resto. Didirikan pada tanggal 16 Januari 2020, terletak di tengah pusat Kota Bogor. Pada awalnya restauran ini hanya berupa rumah makan sederhana yang dirintis oleh 3 orang anak muda. Nama "WarEg" sendiri memiliki arti kenyang, hal ini diharapkan agar konsumen dapat sangat puas memilih dan mencoba menu hingga pulang dengan rasa kenyang.</p>
              </div>
              <div class="col-lg-6">
                <img src="../public/images/History(1).png" alt="history" class="img-fluid rounded shadow-lg mt-3">
              </div>
            </div>
          </div>
          <div class="sub-container"></div>
          <div class="header-team">
            <h1>Our Team</h1>
          </div>
          <div class="sub-container">
            <div class="teams">
              <img src="../public/images/CEO.png" alt="CEO">
              <div class="name">Septian Dwirawana</div>
              <div class="desig">CEO</div>
              <div class="about">Merupakan pemodal pertama untuk dalam melakukan bisnis FnB untuk memajukan WarEg dimasa awal perintisan.</div>
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/a.septianndwr/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>

            <div class="teams">
              <img src="../public/images/Founder.png" alt="founder">
              <div class="name">Zadan Fairuz Mahitala</div>
              <div class="desig">Founder</div>
              <div class="about">Seseorang yang mengusung harus adanya perubahan konsep warteg yang harus terus mengikuti arus zaman.</div>
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/zadanfai/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>

            <div class="teams">
              <img src="../public/images/CFO.png" alt="founder" >
              <div class="name">M.Ghazi Al-Ghifari</div>
              <div class="desig">CFO</div>
              <div class="about">Orang dibalik layar kesuksesan WarEg yang selalu memonitoring segala bentuk keuangan.</div>
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/_ghifari.m/"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!--About Us End-->
      </div>
    </div>
  </section>


    <!-- Contact Us Start -->
    <div class="container" id="contactus">
      <center>
        <img src="../public/images/CONTACT US.png" alt="reservasi" class="img-fluid rounded shadow-ig mt-5" style="width:200px;" id="footer-logo">
      </center>
      <!--Contact Us-->
      <section id="contact">
        <div style="margin-top: 10px;">
            <footer>
                <div class="row">
                  <div class="col">
                    <img src="../public/images/LOGOO.png" alt="logo" class="img-fluid rounded shadow-ig mt-3" style="width: 500px;">
                  </div>
                  <div class="col">
                    <h3>Information</h3>
                    <p>Jl. Raya Pajajaran No.25A (16128)</p>
                    <p>Jawa Barat, Indonesia</p>
                    <p class="email-id">
                      <a href="mailto:2110631170118@student.unsika.ac.id">2110631170118@student.unsika.ac.id</a>
                    </p>
                    <strong>
                      <a href="https://wa.me/6285772023730">Fax : 085772023730</a>
                    </strong>
                  </div>
                  <div class="col">
                    <h3>Links</h3>
                    <ul>
                      <li><a href="#home">Home</a></li>
                      <li><a href="#menu">Menu</a></li>
                      <li><a href="#aboutus">About Us</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <h3>Feedback</h3>
                    <form>
                      <i class="fa fa-envelope"></i>
                      <input type="" placeholder="Give us your feedback" required>
                      <button type="submit"><i class="fa fa-arrow-right"></i></button>
                    </form>
                  </div>
                </div>
                <hr>
                <p class="copyright">Copyright © 2023 - WarEg</p>
              </footer>
        </div>
      </section>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../public/js/scroll.js">  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="../public/js/owl.carousel.js">  </script>
  <script src="../public/js/owl.carousel.min.js">  </script>
  <script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
      0:{
          items:1
      },
      600:{
          items:3
      },
      1000:{
          items:4
      }
    }
  })
  </script>
</body>

</html>